{
    "presets": [
        "es2015"
    ],
    "plugins": [
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error",
                    "Array"
                ]
            }
        ],
        "add-module-exports",
        "transform-regenerator",
        "transform-runtime",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ]
    ]
}